.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:500px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

//.panel:nth-child(1) {
//  flex-basis: 400px;
//}
//.panel:nth-child(2) {
//  flex-basis: 200px;
//}
//.panel:nth-child(3) {
//  flex-basis: 200px;
//}
//.panel:nth-child(4) {
//  flex-basis: 200px;
//}
//.panel:nth-child(5) {
//  flex-basis: 200px;
//}
//.panel:nth-child(6) {
//  flex-basis: 200px;
//}
//.panel:nth-child(7) {
//  flex-basis: 400px;
//}
//.panel:nth-child(8) {
//  flex-basis: 200px;
//}
//.panel:nth-child(9) {
//  flex-basis: 200px;
//}


.panel:nth-child(1) {
  flex-basis: 300px;
}
.panel:nth-child(2) {
  flex-basis: 300px;
}
.panel:nth-child(3) {
  flex-basis: 300px;
}
.panel:nth-child(4) {
  flex-basis: 300px;
}
.panel:nth-child(5) {
  flex-basis: 300px;
}
.panel:nth-child(6) {
  flex-basis: 300px;
}
.panel:nth-child(7) {
  flex-basis: 300px;
}
.panel:nth-child(8) {
  flex-basis: 300px;
}
.panel:nth-child(9) {
  flex-basis: 300px;
}

/* background colours */

//.panel:nth-child(4n+1) {
  //background-image:radial-gradient(circle, yellow, orange);
//}

//.panel:nth-child(4n+2) {
  //background-image:radial-gradient(circle, lightblue, deepskyblue);
//}

//.panel:nth-child(4n+3) {
  //background-image:radial-gradient(circle, palegreen, yellowgreen);
//}

//.panel:nth-child(4n+4) {
  //background-image:radial-gradient(circle, lightcoral, tomato);
//}

table#miyazaki {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
}
table#miyazaki caption {
  //font-size: 2rem; color: #444;
  margin: 1rem;
  //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki.png), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki2.png);
  table#miyazaki caption { background-image: none; }
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right;
}
table#miyazaki thead th { font-weight: 600;   width: 100%;}
table#miyazaki thead th, table#miyazaki tbody td {
  padding: .8rem; font-size: 1.4rem;
  width: 100%;
}
table#miyazaki tbody td {
  width: 100%;
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee;
}
table#miyazaki tbody tr:not(:last-child) {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table#miyazaki caption { background-image: none; }
  table#miyazaki thead { display: none; }
  table#miyazaki tbody td {
    display: block; padding: .6rem;
  }
  table#miyazaki tbody tr td:first-child {
    background: #666; color: #fff;
  }
  table#miyazaki tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    //width: 6rem;
    width: 100%;
  }
}